**/._*

app/.venv/
app/.venv

app/__pycache__/
app/__pycache__

infrastructure/keys

terraform.tfstate
**/*.tfstate

infrastructure/scripts
infrastructure/terraform/.terraform

infrastructure/ansible/hosts
infrastructure/ansible/loadbalancer

infrastructure/pipeline/pipelines
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup

